.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content:first baseline;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Task */
.App-task {
  background-color: #d5d3c5;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:first baseline;
  margin: 5px;
}

.titles-container {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:first baseline;
}
.titles-container h3 {
  padding: 30px;
}

.titles-container h4 {
  padding: 30px;
}

.subtask-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 50%;
  width: 100%;
}

.subtask {
  background-color: #dbdbdb;
  height: 100%;
  flex-grow: 1;
  border-right: 4px solid #d5d3c5;
  flex-direction: row;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center; 
}

.subtask p {
  visibility: hidden;
  opacity: 0;
}

.subtask:hover p {
  visibility: visible;
  opacity: 1;
}

.subtask.active {
  background-color: #6ec990;
}